body {
    background-color: black;
    color: antiquewhite;
    font-family: 'Courier New', monospace;
    margin: 0 auto;          
    padding: 2rem;           
    max-width: 800px;        
    display: block;         
}
